/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.styledbutton { background-color : yellow }
.styledbutton { background-color : yellowgreen
 }

 .button-specific:hover
    {
        color: #39f;
        background: #000;
    }

